# .env.example
# copy this file and add your values to local .env file
# .env should never be committed

### Local Postgres / Docker ###
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

### Backend ###
PORT=

# these should usually match local postgres setup
DATABASE_URL=
DATABASE_USER=
DATABASE_PASSWORD=

# seeding the admin table for first time setup

ADMIN_USERNAME=
ADMIN_PASSWORD=

### Frontend ##
VITE_API_BASE_URL=

