# .env.example
# copy this file and add your values to local .env file
# .env should never be committed

### Local Postgres / Docker ###
POSTGRES_DB=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

### Backend ###
PORT=
# defaults to true, emits a warning for false which should be used for local only
SECURE_SESSION_COOKIES=

# these should usually match local postgres setup
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# seeding the admin table for first time setup

INITIAL_ADMIN_USERNAME=
INITIAL_ADMIN_PASSWORD=

### Frontend ##
VITE_API_BASE_URL=

